<div class="row">
  <div class="small-12 large-12 columns">
    <h2>Contact Us</h2>
    <p>If you have questions about the fair, we'd be happy to answer them. You can call us at 847.251.9818 during the Family History Center's open hours (check www.wilmettefhc.org for the current schedule) or you can email us at info@wilmettefamilyhistoryfair.com.</p>
  </div>
</div>