<% flash.each do |key, value| %>
  <div data-alert class="alert-box success radius">
    <%= value %>
    <a href="" class="close">&times;</a>
  </div>
<% end %>
<div class="row">
  <div class="small-6 large-6 columns"><%= image_tag "home_page.jpg" %></div>
  <div class="small-6 large-6 columns">
    <h2>Celebrating Families</h2>
    <h4>Wilmette Family History Center<br>Family History Fair 2015</h4>
    <p>Saturday, March 22, 2015 — 8 am to 5 pm<br>2727 Lake Avenue, Wilmette, Illinois</p>
    <br>
    <p>Learn about the latest tools and techniques for researching, recording, and sharing your family’s unique history at the 2015 Wilmette Family History Center Family History Fair. This year’s theme will explore the power of storytelling to strengthen and unify families. Presenters will include popular speakers from RootsTech 2014 in Salt Lake City (via video) as well as local genealogy experts.</p>
  </div>
</div>