<div class="row">
  <div class="small-12 large-12 columns">
    <h2>Research Help</h2>
    <p>The Wilmette Illinois Family History Center will be open during the fair. Volunteers will offer quick introductory tours for first-time visitors. They will also be available to answer questions about Family History Center resources, introduce you to the "My Family Booklet" and offer quick guidance on research, recording stories, and scanning photos.</p>
  </div>
</div>