<div class="row extended-vertical-padding">
  <div class="small-12 large-12 columns">
    <h2>Schedule of Presentations and Activities</h2>
  </div>
</div>


<div class="row">
  <div class="small-12 large-12 columns">
    <h4>8:00am - 8:30am</h4>
    <ul>
      <li>Check In</li>
      <li>Continental Breakfast</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <h4>8:30am -9:30am</h4>
    <ul>
      <li>Welcome</li>
      <li>RootsTech Keynote Presentations</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <h4>9:45am - 10:45am</h4>
    <ul>
      <li>*[Thomas MacEntee]*, _Ten Ways to Jumpstart Your Genealogy_ (Live presentation, Chapel)</li>
      <li>Find Names & Strengthen Family with the My Family booklet (video, Room 1)</li>
      <li>Getting the Most Out of Ancestry.com (video, Room 2)</li>
      <li>1-on-1 Research & Translation Help (Room 4)</li>
      <li>Family History Activities for Children (Primary Area)</li>
      <li>Exhibits from Local Societies and Stake Organizations (Cultural Hall)</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <h4>11:00am - Noon</h4>
    <ul>
      <li>*Thomas MacEntee*, _Genealogy: The Future Is Now_ (Live presentation, Chapel)</li>
      <li>*[Janis Forte]*, _African-American Research Techniques_ (Live presentation, RS Room)</li>
      <li>*[Julie Busse]*, _Introduction to RootsMagic_ (Computer Lab, Family History Center)</li>
      <li>Finding Missing People in Your Family Tree (video, Room 1)</li>
      <li>Family History on the Go (video, Room 2)</li>
      <li>1-on-1 Research & Translation Help (Room 4)</li>
      <li>Family History Activities for Children (Primary Area)</li>
      <li>Exhibits from Local Societies and Stake Organizations (Cultural Hall)</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <h4>Noon - 1:15pm</h4>
    <ul>
      <li>Lunch (on your own; see our [list of nearby restaurants])</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <h4>1:15pm - 2:15pm</h4>
    <ul>
      <li>*Thomas MacEntee*, _Genealogy: Do-Over: A Year of Learning from Mistakes_ (Live presentation, Chapel)</li>
      <li>*[Justyna Cwynar]*, _Online Resources for Polish Research_ (Live presentation, RS Room)</li>
      <li>*[Amanda Jensen]*, _Introduction to FamilySearch_ (Computer Lab, Family History Center)</li>
      <li>From Tree to Temple: Preparing Family Names for the Temple (video, Room 1)</li>
      <li>Getting Started in Genetic Genealogy (video, Room 2)</li>
      <li>1-on-1 Research & Translation Help (Room 4)</li>
      <li>Family History Activities for Children (Primary Area)</li>
      <li>Exhibits from Local Societies and Stake Organizations (Cultural Hall)</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <h4>2:30pm - 3:30pm</h4>
    <ul>
      <li>*Thomas MacEntee*, _You Use WHAT for Genealogy?: Wonderful Uses for Unusual Tools_ (Live presentation, Chapel)</li>
      <li>*[Donna Roginski]*, _Online Census Tips and Secrets_ (Live presentation, RS Room)</li>
      <li>*[Jeremy Foote]*, _The Power of Online Genealogy Collaboration_ (Computer Lab, Family History Center)</li>
      <li>FamilySearch & Beyond: New Resources for Members (video, Room 1)</li>
      <li>FamilySearch Indexing: It's a Whole New World! (video, Room 2)</li>
      <li>1-on-1 Research & Translation Help (Room 4)</li>
      <li>Family History Activities for Children (Primary Area)</li>
      <li>Exhibits from Local Societies and Stake Organizations (Cultural Hall)</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <h4>3:45pm - 4:45pm</h4>
    <ul>
      <li>Branching Out: Useful Tools to Help You Find More Names (video, Room 1)</li>
      <li>What's New at FamilySearch (video, Room 2)</li>
      <li>1-on-1 Research & Translation Help (Room 4)</li>
      <li>Exhibits from Local Societies and Stake Organizations (Cultural Hall)</li>
    </ul>
  </div>
</div>

<!--

<div class="row">
  <div class="small-12 large-12 columns">
    <h4>8:00am - 8:30am</h4>
    <ul>
      <li>Check In</li>
      <li>Continental Breakfast</li>
    </ul>
    
    <h4>8:30am -9:30am</h4>
    <ul>
      <li>Welcome</li>
      <li>RootsTech Keynote Presentations</li>
    </ul>
    <h4>9:45am - 10:45am</h4>
    <ul>
      <li>*[Thomas MacEntee]*, _Ten Ways to Jumpstart Your Genealogy_ (Live presentation, Chapel)</li>
      <li>Find Names & Strengthen Family with the My Family booklet (video, Room 1)</li>
      <li>Getting the Most Out of Ancestry.com (video, Room 2)</li>
      <li>1-on-1 Research & Translation Help (Room 4)</li>
      <li>Family History Activities for Children (Primary Area)</li>
      <li>Exhibits from Local Societies and Stake Organizations (Cultural Hall)</li>
    </ul>
    
    <h4>11:00am - Noon</h4>
    <ul>
      <li>*Thomas MacEntee*, _Genealogy: The Future Is Now_ (Live presentation, Chapel)</li>
      <li>*[Janis Forte]*, _African-American Research Techniques_ (Live presentation, RS Room)</li>
      <li>*[Julie Busse]*, _Introduction to RootsMagic_ (Computer Lab, Family History Center)</li>
      <li>Finding Missing People in Your Family Tree (video, Room 1)</li>
      <li>Family History on the Go (video, Room 2)</li>
      <li>1-on-1 Research & Translation Help (Room 4)</li>
      <li>Family History Activities for Children (Primary Area)</li>
      <li>Exhibits from Local Societies and Stake Organizations (Cultural Hall)</li>
    </ul>
    
    <h4>Noon - 1:15pm</h4>
    <ul>
      <li>Lunch (on your own; see our [list of nearby restaurants])</li>
    </ul>
    
    <h4>1:15pm - 2:15pm</h4>
    <ul>
      <li>*Thomas MacEntee*, _Genealogy: Do-Over: A Year of Learning from Mistakes_ (Live presentation, Chapel)</li>
      <li>*[Justyna Cwynar]*, _Online Resources for Polish Research_ (Live presentation, RS Room)</li>
      <li>*[Amanda Jensen]*, _Introduction to FamilySearch_ (Computer Lab, Family History Center)</li>
      <li>From Tree to Temple: Preparing Family Names for the Temple (video, Room 1)</li>
      <li>Getting Started in Genetic Genealogy (video, Room 2)</li>
      <li>1-on-1 Research & Translation Help (Room 4)</li>
      <li>Family History Activities for Children (Primary Area)</li>
      <li>Exhibits from Local Societies and Stake Organizations (Cultural Hall)</li>
    </ul>
    
    <h4>2:30pm - 3:30pm</h4>
    <ul>
      <li>*Thomas MacEntee*, _You Use WHAT for Genealogy?: Wonderful Uses for Unusual Tools_ (Live presentation, Chapel)</li>
      <li>*[Donna Roginski]*, _Online Census Tips and Secrets_ (Live presentation, RS Room)</li>
      <li>*[Jeremy Foote]*, _The Power of Online Genealogy Collaboration_ (Computer Lab, Family History Center)</li>
      <li>FamilySearch & Beyond: New Resources for Members (video, Room 1)</li>
      <li>FamilySearch Indexing: It's a Whole New World! (video, Room 2)</li>
      <li>1-on-1 Research & Translation Help (Room 4)</li>
      <li>Family History Activities for Children (Primary Area)</li>
      <li>Exhibits from Local Societies and Stake Organizations (Cultural Hall)</li>
    </ul>
    
    <h4>3:45pm - 4:45pm</h4>
    <ul>
      <li>Branching Out: Useful Tools to Help You Find More Names (video, Room 1)</li>
      <li>What's New at FamilySearch (video, Room 2)</li>
      <li>1-on-1 Research & Translation Help (Room 4)</li>
      <li>Exhibits from Local Societies and Stake Organizations (Cultural Hall)</li>
    </ul>
    
  </div>
</div>

-->