<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Thanks for registering for the 2015 Chicago Family History Fair!</h3>
    <p>
      If you'd like to change your mind about which classes you'd like to attend, please edit your choices here: www.chicagofamilyhistoryfair.com/edit/<%= @registrant.edit_code %>
    </p>
  </body>
</html>