<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Congratulations!</h3>
    <p>
      <%= @registrant.full_name %> registered for the 2015 Chicago Family History fair.
    </p>
  </body>
</html>