<div class="full-width-container footer">
  <div class="row">

  	<div class="large-12 medium-12 columns">
	    <h5 class="little_space">About Us</h5>
	    <p class="smaller-text">The Chicago Family History Fair is sponsored by the <a href="http://www.wilmettefhc.org">Wilmette Stake Family History Center</a>. We're a branch of the Family History Library of the Church of Jesus Christ of Latter-day Saints. The FHC is open Tuesdays & Wednesdays 10am-9pm and Saturdays 9am-1pm. You can reach us by phone during open hours at 847-251-9818. We're eager to help you with your family history research!</p>
	 </div>

  </div>
</div>