<div class="full-width-container footer">
<div class="row">

  	<div class="large-12 medium-12 columns">
	  <h5>Contact Us</h5>

	  <p>Have questions about the Chicago Family History Fair not answered by our <%= link_to "FAQ", faqs_path %>? Feel free to contact us. You can call the family history center during open hours at 847.251.9818. Or leave a message after hours. You can also email us at info@chicagofamilyhistoryfair.com. Thanks!</p>
	</div>

</div>
</div>